{{>layout/header}}


<div style= "padding: 300px">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">STTMANAGESERVICE.COM</h1>
    </div>

    <div style= "text-align : center"><a href="/oauth2/authorization/google" class ="btn btn-success active" role="button">Google Login</a>  <a href="/oauth2/authorization/naver" class ="btn btn-secondary active" role="button">Naver Login</a></div>


    <p class="mt-5 mb-3 text-muted text-center">© 2022. STTMANAGESERVICE. All rights reserved.</p>
</div>

{{>layout/footer}}